@import "tailwindcss";

@theme {
  --color-primary-orange: #FF8C42;
  --color-primary-green: #7CB342;
  --color-primary-brown: #8B6F47;
  --color-light-bg: #FFFFFF;
  --color-light-text: #171717;
  /* --color-dark-bg: #0A0A0A;
  --color-dark-text: #F5F5F5; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}